            <table class="six columns">
             <tr>
              <td class="left-text-pad">
               <h6><a href="{{ include.link }}">{{ include.title }}</a></h6>
              </td>
             </tr>
             <tr>
              <td>
               <table class="six columns">
                <tr>
                 <td class="left-text-pad"><img alt="{{ include.title }}" width="270" src="{{ include.image }}" class="cke_focus" />
                 </td>
                </tr>
               </table>
              </td>
             </tr>
             <tr>
              <td class="left-text-pad">
               {{ include.body }}
               <p><a href="{{ include.link }}">Read more &raquo;</a></p>
              </td>
             </tr>
            </table>
            <br />
