            <table class="six columns">
              <tr>
                <td class="left-text-pad">
<img width="280" src="{{ include.image }}">

                
                </td>
                <td class="expander"></td>
              </tr>
              <tr>
                <td  class="left-text-pad"><h6 class="orangetype"><a href="{{ include.link }}">{{ include.title }}</a></h6>
                  {{ include.body }}
                </td>
              </tr>
              <tr>
                <td align="right" class="left-text-pad"><table align="right" class="tiny-button">
  <tr>
    <td><a href="{{ include.link }}">More Details &raquo;</a></td>
  </tr>
</table>
</td>
                <td class="expander"></td>
              </tr>
            </table>
            <p>&nbsp;</p>
