---
title: August Dog Dish
---
     <table class="container white">
      <tr>
       <td>
        <!-- From The Foundation -->
        <table class="twelve columns">
         <tr>
          <td class="panel">
           <h6 class="dkgreytype">from the foundation</h6>
          </td>
         </tr>
        </table>
        <table class="row">
         <tr>
          <td class="wrapper last">
           <table class="three columns">
            <tr>
             <td class="left-text-pad">
              <img height="130" width="130" alt="Jason Kridner" src="http://beagleboard.org/static/images/jasonkridner_web1_1---(0-0-250-250-250-250)---.jpg">
             </td>
            </tr>
           </table>
          </td>
          <td class="wrapper last">
           <table class="nine columns">
            <tr>
             <td class="left-text-pad">
              <h6>FROM THE FOUNDATION</h6>
              <p></p>
             </td>
            </tr>
           </table>
          </td>
         </tr>
        </table>
        <!-- Blog Content start -->
        <table class="row">
         <tr>
          <td class="wrapper">
           <table class="six columns">
            <tr>
             <td class="panel">
              <h6 class="dkgreytype">events</h6>
             </td>
            </tr>
           </table>
           <br>
           <div class="repeatables">
            <table class="six columns">
             {% include event.html event="Maker Faire Grand Rapids" date="Sep 5-6" link="http://bit.ly/makergr" %}
             {% include event.html event="Open Hardware Summit" date="Sep 19" link="http://bit.ly/oshwa2015" %}
             {% include event.html event="SE Michigan BeagleBone Users Group" date="Sep 24" link="http://bit.ly/beaglemeetup" %}
             {% include event.html event="Maker Faire New York" date="Sep 26-27" link="http://bit.ly/1KAPjwo" %}
            </table>
            <br>
           </div>
           <table class="six columns">
            <tr>
             <td class="panel">
              <h6 class="dkgreytype">articles</h6>
             </td>
            </tr>
           </table>
           <p>
            <br>
           </p>
           <div class="repeatables">
            <table class="six columns">
             <tr>
              <td class="left-text-pad">
               <h6><a href="http://bit.ly/mfdet2015">Maker Faire Detroit</a></h6>
              </td>
             </tr>
             <tr>
              <td>
               <table class="six columns">
                <tr>
                 <td class="left-text-pad"><img alt="" width="270" src="" class="cke_focus">
                 </td>
                </tr>
               </table>
              </td>
             </tr>
             <tr>
              <td class="left-text-pad">
               <p>Maker Faire Detroit is here and it is a great opportunity for everyone in the US Midwest to get involved in making electronics and programming more fun and fulfilling. There will be a number of hands-on tutorial sessions with BeagleBone Black as well as presentations on using BeagleBone Black in 3D printing and electronics education. There will also be several give-aways at the BeagleBoard.org booth for those who show up for the drawings. Throughout the weekend, several people will be presenting their own show-and-tell projects at the booth, so be sure to visit often.</p>
               <p>In addition to what is going on at the BeagleBoard.org booth, a number of exhibitors are featuring BeagleBone Black, including several exhibits at the i3 Detroit booth such as Smart Alek Robot Head. Bloomsburg University of Penn will be demonstrating using BeagleBone Black as a low-power hacking device, including remote hacking drones. There will be DIY Pinball, hardware computer vision and ThunderOps Makers will be presenting the ThunderOps Advanced Remote Avatar.
               </p>
               <p>The event is amazing, so be sure to come by this weekend and check it out.</p>
               <p><a href="http://bit.ly/mfdet2015">Read more »</a>
               </p>
              </td>
             </tr>
            </table>
           </div>
           <br>
           <div class="repeatables">
            <table class="six columns">
             <tr>
              <td class="left-text-pad">
               <h6><a href="http://bit.ly/1HTg4an">The Perfect Case</a></h6>
              </td>
             </tr>
             <tr>
              <td>
               <table class="six columns">
                <tr>
                 <td class="left-text-pad"><img alt="" width="270" src="" class="cke_focus">
                 </td>
                </tr>
               </table>
              </td>
             </tr>
             <tr>
              <td class="left-text-pad">
               <p>There are tons of cases out there for BeagleBone Black. Some of the highly affordable plastic cases that have been out there for a while include the
                <a href="http://bit.ly/1Mmhqzu">HAMBONE</a> and the <a href="http://bit.ly/1HKUTJB">Adafruit BBB Case</a>. Some metal enclosures have also been out there a while, including the fairly affordable <a href="http://bit.ly/1CWig3L">Logic Supply BB100</a> and Adafruit entry called <a href="http://bit.ly/1Ik2i3X">uniBBB</a>. More recently even Sparkfun got in the game and released their own affordable <a href="http://bit.ly/1MpnEzH">clear plastic case</a>. Adafruit added another metal case from <a href="http://bit.ly/1GFg8Zg">Anidées</a>. One of the recent metal cases is even advertized to act as a <a href="http://bit.ly/1KlGiYI">heat sink</a>, while a recent plastic case features <a href="http://bit.ly/1SDwAQS">DIN rail mounting</a>. With all this crazy interest in cases, 3D Hubs has decided they'd like to reach out to the community to design the <a href="http://bit.ly/1HTg4an">perfect case</a>. Do you think it is possible?</p>
               <p><a href="http://bit.ly/1HTg4an">Read more »</a>
               </p>
              </td>
             </tr>
            </table>
           </div>
           <br>
          </td>
          <td class="wrapper last">
           <table class="six columns">
            <tr>
             <td class="panel1">
              <h6 class="dkgreytype">hot off the presses</h6>
             </td>
            </tr>
           </table>
           <br>
           <div class="repeatables">
            <table class="row">
             <tr>
              <td class="wrapper">
               <table class="two columns">
                <tr>
                 <td>
                  <a href="http://amzn.to/1TRFL2y">
                   <img width="80px" src="http://beagleboard.org/static/images/beaglebone-cookbook.jpeg" alt="BeagleBone Cookbook">
                  </a>
                 </td>
                </tr>
               </table>
              </td>
              <td class="wrapper last">
               <table class="columns four">
                <tbody>
                 <tr>
                  <td>
                   <p><a href="http://amzn.to/1TRFL2y">BeagleBone Cookbook: Software and Hardware Problems and Solutions</a>
                   </p>
                   <p>The coauthors of BeagleBone Cookbook are Mark Yoder, known for his 32-bit embedded Linux classes with content on the public eLinux wiki, and BeagleBoard.org co-founder Jason Kridner. The book is loaded with quick solutions to common challenges in building connected electronics. It can be read from cover-to-cover, but is also ready for you to jump in at any point. The reviews have been excellent so far, so be sure to check this one out.</p>
                  </td>
                 </tr>
                </tbody>
               </table>
              </td>
             </tr>
            </table>
            <br>
           </div>
           <table class="six columns">
            <tr>
             <td class="panel">
              <h6 class="dkgreytype">community topics</h6>
             </td>
            </tr>
           </table>
           <br>
           <div class="repeatables">
            <table class="six columns">
             <tr>
              <td class="right-text-pad">
               <h6><a href="http://bit.ly/bbgsoc" class="editable">Google Summer of Code Videos Posted</a></h6>
              </td>
             </tr>
             <tr>
              <td class="right-text-pad">
               <p class="editable">With projects seeking to simplify exploring the final frontiers of our oceans and outer space, this Summer has shaped up to be an interesting one. Each of the eight (8) students participating generated introductory videos to make it easy for people to understand how they plan to contribute. Looking to make better use of the on-board microcontrollers or simply to get started flashing boards, programming and following tutorials? Maybe you are looking to use an Android tablet as an inexpensive display or to access hardware from an Android application? Whatever your interest, it is worth spending a few minutes checking out the student videos.</p>
               <p><a href="http://bit.ly/bbgsoc">Read more »</a>
               </p>
              </td>
             </tr>
             <tr>
              <td class="right-text-pad">
               <h6><a href="http://bit.ly/1LvFBMQ">CapeMgr released for 4.1 kernel</a></h6>
              </td>
             </tr>
             <tr>
              <td class="right-text-pad">
               <p>Now that device tree overlays are part of the mainline Linux kernel, the next big step is getting CapeMgr itself upstream. Pantelis has made an initial submission and Robert has integrated that against the 4.1 kernel for BeagleBone Black. Time for everyone to give it a try.
               </p>
               <p><a href="http://bit.ly/1LvFBMQ">Read more »</a>
               </p>
              </td>
             </tr>
            </table>
            <br>
           </div>
          </td>
         </tr>
        </table>
        <table class="twelve columns">
         <tr>
          <td class="panel">
           <h6 class="dkgreytype">featured projects</h6>
          </td>
         </tr>
        </table>
        <br>
        <!-- Featured Projects -->
        <table class="row">
         <tr>
          <td class="wrapper">
           <td class="repeatables">
            <table class="six columns">
             <tr>
              <td width="280" class="right-text-pad"><img width="280" alt="PocketNC" src="http://beagleboard.org/static/images/pocketnc.jpeg">
              </td>
             </tr>
             <tr>
              <td class="right-text-pad">
               <h6><a href="http://bit.ly/1Kll7pP">PocketNC 5 Axis Desktop Mill</a></h6>
               <p>PocketNC successfully raised $355,833 USD with 280 backers in their Kickstarter campaign. They limited the number of participants to make sure they could execute successfully in a reasonable time frame. PocketNC is one-of-a-kind, benefiting from the unique abilites of BeagleBone Black to run Linux, perform fast processing and to handle the real-time tasks of driving stepper motors. No other solution exists to get so much performance and flexibility into such a small and affordable package.</p>
              </td>
             </tr>
             <tr>
              <td align="right" class="right-text-pad">
               <table align="right" class="tiny-button">
                <tr>
                 <td><a href="http://bit.ly/1Kll7pP" class="editable">More Details »</a>
                 </td>
                </tr>
               </table>
              </td>
             </tr>
            </table>
            <table class="six columns">
             <tr>
              <td class="left-text-pad">
               <img width="280" alt="Jilia" src="http://beagleboard.org/static/images/jilia.png" class="cke_focus">
              </td>
             </tr>
             <tr>
              <td class="left-text-pad">
               <h6><a href="http://bit.ly/1RSiHDd">Jilia IoT Development Kit</a></h6>
               <p>There are a lot of IoT toolkits out there, but this one seems to have a lot of key pieces in place, mostly due to the experience of the people involved. They include a BeagleBone Black cape to provide the required connectivity and a collection of useful sensors. They also support a huge variety of languages and APIs. Yet another IoT framework? Perhaps it is worth a look.</p>
              </td>
             </tr>
             <tr>
              <td align="right" class="left-text-pad">
               <table align="right" class="tiny-button">
                <tr>
                 <td><a href="http://bit.ly/1RSiHDd">More Details »</a> </td>
                </tr>
               </table>
              </td>
             </tr>
            </table>
           </td>
           <td class="repeatables wrapper last">
            <table class="six columns">
             <tr>
              <td class="left-text-pad">
               <img width="280" alt="BeagleLogic" src="http://beagleboard.org/static/images/beaglelogic.jpeg" class="cke_focus">
              </td>
             </tr>
             <tr>
              <td class="left-text-pad">
               <h6><a href="http://bit.ly/1VyOI2D">BeagleLogic</a></h6>
               <p>BeagleLogic is a 14-channel, 100 million samples per second logic and protocol analyzer realized using the Programmable Real-Time Units (PRUs) included on BeagleBone and BeagleBone Black. BeagleLogic is capable of capturing a sample buffer depth of over 300MB.</p>
               <p>When used in conjunction with the open source sigrok suite of apps, BeagleLogic can be used to analyze over 30 digital protocols including I2C and SPI.</p>
               <p>The BeagleLogic project now includes an optional cape for signal conditioning.</p>
              </td>
             </tr>
             <tr>
              <td align="right" class="left-text-pad">
               <table align="right" class="tiny-button">
                <tr>
                 <td><a href="http://bit.ly/1VyOI2D">More Details »</a> </td>
                </tr>
               </table>
              </td>
             </tr>
            </table>
           </td>
         </tr>
        </table>
        <!-- Legal + Unsubscribe -->
        <table class="row">
         <tr>
          <td rowspan="3" class="wrapper">
           <table class="six columns">
            <tr>
             <td class="panel">
              <h6 class="dkgreytype">resources</h6>
             </td>
            </tr>
           </table>
           <br>
           <table class="six columns">
            <tr>
             <td class="text-pad">
              <p><a href="http://bit.ly/1wur3Dw">Github »</a>
              </p>
              <hr>
              <p><a href="http://bit.ly/1BMlJdK">Hackaday.io  »</a>
              </p>
              <hr>
              <p><a href="http://bit.ly/1AvPaSM">Upverter »</a>
              </p>
              <hr>
              <p><a href="http://bit.ly/1GBbFrn">BoneScript Library »</a>
              </p>
              <h2> </h2>
             </td>
            </tr>
           </table>
          </td>
          <td colspan="2" class="wrapper last">
           <table class="six columns">
            <tr>
             <td class="panel">
              <h6><span class="dkgreytype">connect with us</span></h6>
             </td>
            </tr>
           </table>
           <br>
          </td>
         </tr>
         <tr>
          <td class="wrapper">
           <table class="three columns">
            <tr>
             <td class="center" style="background-color:#fff;">
              <center>
               <!-- Centered image -->
               <a href="http://on.fb.me/1zPpUbS"><img alt="Facebook" class="center" src="http://beagleboard.org/static/images/64-facebook.png" width="64" height="64">
               </a>
              </center>
             </td>
            </tr>
           </table>
          </td>
          <td class="wrapper last">
           <table class="three columns">
            <tr>
             <td class="center" style="background-color:#fff;">
              <center>
               <!-- Centered image -->
               <a href="http://bit.ly/1A6H7Mr"><img alt="Twitter" src="http://beagleboard.org/static/images/64-twitter.png" width="64" height="64" class="center">
               </a>
              </center>
             </td>
            </tr>
           </table>
          </td>
         </tr>
         <tr>
          <td class="wrapper">
           <table class="three columns">
            <tr>
             <td class="center" style="background-color:#fff;">
              <center>
               <!-- Centered image -->
               <a href="http://bit.ly/1BzX1zS"><img alt="Google+" src="http://beagleboard.org/static/images/64-googleplus.png" width="64" height="64" class="center">
               </a>
              </center>
             </td>
            </tr>
           </table>
          </td>
          <td class="wrapper last">
           <table class="three columns">
            <tr>
             <td class="center" style="background-color:#fff;">
              <center>
               <!-- Centered image -->
               <a href="http://bit.ly/1zkCSNP"><img alt="YouTube" src="http://beagleboard.org/static/images/64-youtube.png" width="64" height="64" class="center">
               </a>
              </center>
             </td>
            </tr>
           </table>
          </td>
         </tr>
        </table>
        <table class="row">
         <tr>
          <td class="wrapper last">
           <table class="twelve columns">
            <tr>
             <td class="center panel">
              <center>
               <p style="text-align:center;"><a href="http://beagleboard.org/about">BeagleBoard.org Foundation</a> is a non-profit corporation supported by the open source developer community, Texas Instruments and others. All trademarks are the property of their respective owners.
                <br>
                <br>This e-mail was sent to *|EMAIL|*.
                <br>You have received this email as a valued participant in the BeagleBoard community.
                <br>To ensure delivery to your inbox, please add newsletter@beagleboard.org to your address book or safe sender list. If you no longer wish to receive emails from us, you may
                <br><a href="*|UNSUB|*">unsubscribe here</a>.</p>
               *|REWARDS|*
               <p style="text-align:center;"><a href="http://beagleboard.org/terms">Terms</a> | <a href="http://beagleboard.org/privacy">Privacy</a> | <a href="http://beagleboard.org/newsletter-subscribe">Subscribe</a> | <a href="http://beagleboard.org/newsletter-unsubscribe">Unsubscribe</a>
               </p>
              </center>
             </td>
            </tr>
           </table>
          </td>
         </tr>
        </table>
        <!-- container end below -->
        </td>
      </tr>
     </table>
